{% extends 'base.html.twig' %}
{% block body %}
    {% include('navbar.html.twig') %}
    <div class="form-signin">
        <h3 class="h3 mb-3 font-weight-normal">Edit group</h3>
        {{ form(edit_groups_form)}}
    </div>
{% endblock %}