{% extends 'base.html.twig' %}
{% block body %}
    {% include('navbar.html.twig') %}
    <div class="form-signin">
        <h3 class="h3 mb-3 font-weight-normal">Add what you've drunk</h3>
        {{ form_start(create_consumption_form) }}
        {{ form_widget(create_consumption_form) }}
        {{ form_end(create_consumption_form) }}
    </div>
{% endblock %}